body {
  width: 100%;
  background-color: #2b292c;
  /* background-color: #535458; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ecaf59;
  background-color: #181c2b;
  background-color: #240c44;
  position: fixed;
  /* border: 1px solid yellow; */
}

#allShowsBtn {
  font-size: 1.25rem;
  background-color: #ecaf59;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  transition-duration: 0.4s;
  outline: none;
}

#allShowsBtn:hover {
  background-color: #fe012f;
}

.search {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

/* The search bar */
.searchBar {
  width: 40%;
  margin: 1% auto;
  height: 2rem;
  font-size: 1.2rem;
  color: #181c2b;
}

/* The number of episodes displayed, only visible when a search is made.
  Else it stays as an empty tag */
#numOfEpisodes {
  width: 40%;
  height: 2rem;
  margin-bottom: 1%;
  color: #ecaf59;
  font-size: 1.2rem;
  font-weight: 500;
}

/* The main title of the page */
.mainHeading {
  width: 60%;
  margin: auto;
  padding: 5% 2% 2% 2%;
  color: #ecaf59;
  font-family: "Merienda One", Arial, Helvetica, sans-serif;
  font-weight: normal;
  /* color: #e0dfe4; */
  text-align: center;
}

form {
  display: flex;
  width: 90%;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin: 1rem;
  padding: 1rem; */
}

/* The dropdown list displaying a list of all the episodes */
#episodeDropDownList,
#showDropDownList {
  /* width: 35%; */
  margin: 0 2rem;
  height: 2rem;
  margin-bottom: 2%;
  color: #181c2b;
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

/* Root elements containing all the episode tiles */
#root {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

/* Represents each episode tile */
.episodeBlock {
  width: 29%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: #181c2b;
  color: #ecaf59;
}

.showBlock {
  width: 100%;
  margin: auto;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-self: center; */
  align-items: center;
  margin: 1.5%;
  padding: 1%;
  background-color: #181c2b;
  color: #ecaf59;
  /* border: 1px solid yellowgreen; */
}

/* Title of the episode */
.episodeTitle,
.showTitle {
  width: 94%;
  margin: 0 auto;
  /* padding: 1%; */
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 4rem;
  /* border: 1px solid red; */
}

.showTitle {
  /* padding: 0.5%; */
  font-size: 2rem;
  font-family: "Merienda One", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Episode code which is written as "SxxExx" beside the episode title */
.episodeCode {
  color: #fe012f;
}

hr {
  width: 100%;
  align-self: flex-start;
  color: #5a4c38;
  background-color: #5a4c38;
  border-color: #5a4c38;
  margin-bottom: 1rem;
}

/* The image of the episode */
.episodeBlock img {
  align-self: flex-start;
  width: 90%;
  margin: 0 auto;
}

.showBlock img {
  width: 15%;
  /* border: 1px solid red; */
}

.showBlock .summary {
  width: 45%;
  align-self: stretch;
  /* border: 1px solid red; */
}

.summaryTitle {
  font-size: 1.4rem;
}

/* Contains the summary of the episode */
.summaryText {
  color: #ecaf59;
  font-size: 1.1rem;
}

.showSummary {
  /* width: calc (80%); */
  /* white-space: wrap; */
  /* width: 50px; */
  /* line-height: 1.1rem; */
  /* height: 8rem; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* border: 1px solid #ecaf59; */
}

.info {
  width: 25%;
  /* background-color: #34043c;
  background-color: #4c043c;
  background-color: #443c64; */
  background-color: #240c44;
  /* border: 1px solid red; */
}

.infoList {
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
}

.infoList li {
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

/* Contains the link to TVMaze page of that very episode */
.episodeLink,
.showLink {
  color: #fe012f;
  font-style: italic;
}

.episodeLink:visited {
  /* color: #742433; */
  color: #a72336;
}

footer {
  color: #ecaf59;
  text-align: center;
  font-weight: 500;
}

footer a {
  color: #fe012f;
  font-style: italic;
}
