body {
  background-color: #2b292c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The main title of the page */
.mainHeading {
  width: 60%;
  margin: auto;
  padding: 5%;
  color: #ecaf59;
  text-align: center;
}

/* The search bar */
.searchBar {
  width: 40%;
  margin: 1% auto;
  height: 2rem;
  font-size: 1.2rem;
  color: #181c2b;
}

/* The number of episodes displayed, only visible when a search is made.
  Else it stays as an empty tag */
#numOfEpisodes {
  height: 2rem;
  margin-bottom: 1%;
  color: #ecaf59;
  font-size: 1.2rem;
  font-weight: 500;
}

form {
  display: flex;
  width: 90%;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin: 1rem;
  padding: 1rem; */
}

/* The dropdown list displaying a list of all the episodes */
#episodeDropDownList,
#showDropDownList {
  /* width: 35%; */
  margin: 0 2rem;
  height: 2rem;
  margin-bottom: 5%;
  color: #181c2b;
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

/* Root elements containing all the episode tiles */
#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Represents each episode tile */
.episodeBlock {
  width: 29%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: #181c2b;
  color: #ecaf59;
}

.showBlock {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 1.5%;
  padding: 1%;
  background-color: #181c2b;
  color: #ecaf59;
}

/* Title of the episode */
.episodeTitle,
.showTitle {
  width: 94%;
  margin: 0 auto;
  padding: 1%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 4rem;
}

/* Episode code which is written as "SxxExx" beside the episode title */
.episodeCode {
  color: #fe012f;
}

hr {
  width: 100%;
  align-self: flex-start;
  color: #5a4c38;
  background-color: #5a4c38;
  border-color: #5a4c38;
  margin-bottom: 1rem;
}

/* The image of the episode */
.episodeBlock img,
.showBlock img {
  align-self: flex-start;
  width: 90%;
  margin: 0 auto;
}

.summaryTitle {
  font-size: 1.4rem;
}

/* Contains the summary of the episode */
.summaryText {
  color: #ecaf59;
  font-size: 1.1rem;
}

/* Contains the link to TVMaze page of that very episode */
.episodeLink,
.showLink {
  color: #fe012f;
  font-style: italic;
}

.episodeLink:visited {
  /* color: #742433; */
  color: #a72336;
}

footer {
  color: #ecaf59;
  text-align: center;
  font-weight: 500;
}

footer a {
  color: #fe012f;
  font-style: italic;
}
